.gradient-custom {

    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

.text-danger{
    /* color: #CF0A0A; */
    font-size: smaller;
}    

input{
    
    font-weight: lighter;
}

small{
    color: #CF0A0A;
    font-size: smaller;
}